<!-- <h1>I'm not pretty, but I work fast!</h1> -->
<form #selectorForm="ngForm" (ngSubmit)="makeSelection(selectorForm)">

        <p>Choose a category:</p>
        <select name="category" [(ngModel)]='category'>
            <option *ngFor="let category of categories" >{{category}}</option>
        </select>

        <p>Choose how many to display</p>
        <select name="number" [(ngModel)]='number'>
            <option *ngFor="let choice of allowed_choices" >{{choice}}</option>
        </select>
        
        <br><br>
       <input type="submit">

</form>